<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

     <!-- jQuery -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   
     <script>
       $(document).ready(function(){
  $("p").click(function(){
    alert("The paragraph was clicked.");
  });
});
     </script>
  </head>
  <body>

    <div id="div1">
      <h2>Div 1</h2>
      <p>The contents of this div will be replaced with new content form the server.</p>
    </div>

    <button>Update div 1</button>
   
   <div id="div2">
      <h2>This text isn't updated.</h2>
    </div>

   
  </body>
</html>
